/* Imp[ort Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

/* Override default style by Wildcard selector */
*{
    padding:0;
    margin:0;
    box-sizing:border-box
}

/*Common body styles*/
body{
    /*common project styles*/
    color:#151515ef;
    font-family:'Roboto+Serif',san-serif;
    min-height:100vh;
    display:flex;
    flex-direction: column ;
}



h1, h2, h3{
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0f0f10;
}

/*Header*/
header {
    background-color: whitesmoke;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#nav-menu{

    font-size: 120%;
    letter-spacing: 3px;
    list-style-type: none;
}

#nav-menu > li{
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #d6db9a;
}

/* nav style */
nav{
    position: absolute;
    background-color: #ffffff;
    width:100%;
    left:0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display:none;
    top: 100%;
}

/* Nav checked toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 3rem;
}



/* Main */
main {
    /* Push the footer down*/
    flex: 1 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

/* Main hero section */
#hero {   
    width: 100%;
    height: 600px;
    background: url("../images/Yoga-hero.webp") no-repeat center center/cover ;
    position: relative;
}

/* Reasons*/
#reasons {
    width: 80%;
    margin: 20px auto;
}

#reasons h2 {
    font-size: 300%;
    text-align: center;
    margin-bottom: 30px;  
}

#reasons > p {
    font-size: 150%;
    text-align: center;
    margin-bottom: 30px;  
}


#benefits-physical,#benefits-peace, #benefits-mental,#benefits-stability {
    line-height: 25px;
    margin-bottom: 5px;
}

#benefits-physical hr,#benefits-peace hr, #benefits-mental hr,#benefits-stability hr {
    padding: 0 5px;
}

#benefits-physical p,#benefits-peace p, #benefits-mental p,#benefits-stability p {
    padding: 0 15px;
}

/* Offers*/
#schedule {
    width: 80%;
    margin: 10px auto;
}

#schedule h2 {
    font-size: 200%;
    text-align: center;
    margin-bottom: 30px;  
}

#training-peroid{
    display: flex;
    flex-wrap: wrap;
    
}

#training-peroid div {
    padding: 30px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
}

.scale-with-grid{
    max-width: 100;
}



/* Footer */
#social-media-net {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}



/* Media tablets and greater screen(> 768px ) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;   
    }

    #nav-menu {
        display: flex;
    }

    #nav-menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}