/* Override default style by Wildcard selector */
*{
    padding:0;
    margin:0;
    box-sizing:border-box
}




/* Main hero section */
#hero {   
    width: 100%;
    height: 600px;
    background: url("../images/Yoga-hero.webp") no-repeat center center/cover;
    
}





/* Footer */
#social-media-net {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}